* {
  box-sizing: border-box;
}

body {
  background-color: #DED3B6;
  line-height: 1.5;
  background-image: url("../img/botanic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  font-size: larger;
  margin-left: 40px;
}

ul {
  list-style: disc;
  padding-bottom: 20px;
  margin: 40px;
  margin-top: 10px;
  line-height: 1.5;
}

ol {
  list-style:upper-roman;
  padding-bottom: 20px;
  padding-left: 15px;
  margin:15%;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding: 20px;
  text-align: center;
}

.column {
  display: flex;
}

img.medium {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 6px antiquewhite dashed;
  display: block
}

h2 {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

p {
  padding: 20px;
}

footer {
  text-align: center;
}

.italics {
  font-style: italic;
}

.list {
  padding-bottom: 0px;
}

.boxy {
  border: dashed;
  border-color: antiquewhite;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  padding: 0%;
  margin-bottom: 20px;
}
.cheesy {
  border: dashed;
  background-image: url("../img/swiss.jpg");
  border-color: antiquewhite;
  border-radius: 5px;
  font-weight: bolder;
  font-size: large;
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 0%;
  margin-bottom: 20px;
}
